.default a{
    color: rgb(109, 143, 246);
    border-color: rgb(109, 143, 246);
}
.default a:hover{
    background-color: rgb(109, 143, 246);
}
.goback, .inputedit{
    cursor: pointer;
    display: inline-block;
    user-select: none;
    border: 1px solid rgb(40, 40, 40);
    border-radius: 50px;
    padding: 7px 14px;
    border: 1px solid rgb(109, 143, 246);
    font-size: .97rem;
    font-weight: 400;
    background-color: rgb(109, 143, 246);
    color: #141414;
    margin-top: 30px;
    transition: background-color .2s, color .2s ease, transform .2s ease;
}

/* Edit */
form{
    width: 100%;
    max-width: 400px;
}
form fieldset{
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
form > fieldset > label{
    display: inline-block;
    margin-bottom: 10px;
    font-size: .85rem;
    font-weight: 700;
    color: rgb(200, 200, 200);
    text-transform: uppercase;
}
form > fieldset > input{
    display: block;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    border: 1px solid rgb(40, 40, 40);
    border-radius: 40px;
    padding: 12px 18px;
    background-color: transparent;
    color: rgb(200, 200, 200);
    font-weight: 400;
}

/* Config */
.config{
    margin-bottom: 30px;
}
.config h2{
    margin-bottom: 16px;
    font-weight: 700;
    color: rgb(150, 150, 150);
    font-size: .85rem;
    text-transform: uppercase;
}
main > div hr{
    display: block;
    margin: 50px 0;
    width: 100%;
    max-width: 500px;
    border: none;
    height: 1px;
    background-color: rgb(34, 34, 34);
}

/* Delete */
.exclude {
    display: flex;
    align-items: center;
    gap: 10px;
}
.exclude span{
    color: #d4d4d4;
    font-weight: 200;
    font-size: .96rem;
}
.exclude button, .confirmation a{
    cursor: pointer;
    user-select: none;
    border-radius: 50px;
    padding: 7px 14px;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(234, 65, 65);
    background-color: transparent;
    border: 1px solid rgb(234, 65, 65);
    transition: background-color .2s, color .2s ease, transform .2s ease;
}
:is(.exclude button, .confirmation a):active{
    transform: scale(0.95);
}
:is(.exclude button, .confirmation a):hover{
    background-color: rgb(234, 65, 65);
    color: #141414;
}

.exclude > button.hidden{
    display: none;
}
.confirmation{
    display: none;
    gap: 10px;
}
.confirmation.visible{
    display: flex;
}
.confirmation button{
    /* border-color: rgb(48, 48, 48); */
    font-weight: 300;
}

/* Config Edit Form */
.edit_form{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.edit_form input, .edit_form button{
    display: block;
    width: max-content;
    border: none;
    outline: none;
    font-size: .9rem;
    font-weight: 300;
    border-radius: 50px;
    padding: 11px 14px;
}
.edit_form input{
    background-color: transparent;
    border: 1px solid rgb(35, 35, 35);
    color: rgb(190, 190, 190);
}
.edit_form button{
    cursor: pointer;
    padding: 11px 20px;
    background-color: rgb(60, 97, 207);
    color: rgb(197, 197, 197);
}

/* Foto */
.image fieldset{
    display: flex;
    gap: 20px;
    align-items: center;
}
.image img{
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.image input{
    display: none;
}
.image :is(label, button){
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(200, 200, 200);
    font-weight: 200;
    padding: 10px 16px;
    background-color: rgb(66, 99, 197);
    border-radius: 50px;
    font-weight: 400;
    font-size: .95rem;
    text-transform: none;
    transition: background-color .2s ease, transform .2s ease;
}
.image :is(label, button):hover{
    background-color: rgb(56, 88, 185);
}
.image :is(label, button):active{
    transform: scale(0.95);
}