/* Info Wrapper */
.user_info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user_info h3{
    color: #D1D1D1;
    font-weight: 700;
    font-size: 1.3rem;
}
.user_info p{
    color: #A4A4A4;
    font-weight: 300;
    font-size: 1.1rem;
}
.user_info figure{
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    overflow: visible;
}
.user_info figure img{
    object-fit: cover;
    display: block;
    border-radius: 50%;
    width: 100%;
    border: 3px solid #2a65b7;
    height: 100%;
}
.user_info figure span{
    display: block;
    z-index: 100;
    font-size: .85rem;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2a65b7;
    border-radius: 40px;
    padding: 3px 12px;
}

/* Currículo */
.curriculo > p{
    font-weight: 300;
    color: #d1d1d1;
}
.curriculo a{
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    margin-top: 20px;
    border-radius: 50px;
    background-color: #2a65b7;
    color: #fff;
    font-weight: 400;
    font-size: .9rem;
    padding: 10px 26px;
    transition: background-color .2s ease;
}
.curriculo a:hover{
    background-color: #1e4e92;
}

/* Dados */
.curr_dados{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 15px;
}
.curr_dados p{
    font-size: .95rem;
    display: flex;
    gap: 10px;
    font-weight: 300;
    align-items: center;
    padding: 7px 16px 7px 8px;
    border-radius: 30px;
    border: 1px solid rgb(40, 40, 40);
    transition: transform .2s ease, background-color .2s ease;
}
.curr_dados p > span{
    display: flex;
    font-size: .85  rem;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    color: #141414;
    border-radius: 50%;
    background-color: #c4c4c4;
    transition: background-color .2s ease, color .2s ease;
}
.curr_dados p:hover{
    transform: translateY(-3px);
    background-color: #161616;
}
.curr_dados p:hover > span{
    background-color: #f1f1f1;
}